{% extends 'base.html.twig' %}

{% block title %}Create Tool{% endblock %}

{% block body %}
<h1>Create New Tool</h1>

<div class="row mt-4">
    <div class="col-md-8">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.pricePerDay) }}
            {{ form_row(form.stockQuantity) }}
            {{ form_row(form.location) }}
            
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Create Tool</button>
                <a href="{{ path('host_tools') }}" class="btn btn-secondary">Cancel</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
