{% extends 'base.html.twig' %}

{% block title %}{{ service.name }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8">
        <h1>{{ service.name }}</h1>
        <p class="lead">{{ service.description }}</p>
        
        <div class="card mt-4">
            <div class="card-body">
                <h5>Service Details</h5>
                <table class="table">
                    <tr>
                        <th>Price:</th>
                        <td>€{{ service.basePrice }}</td>
                    </tr>
                    <tr>
                        <th>Duration:</th>
                        <td>{{ service.durationMinutes }} minutes</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>{{ service.location }}</td>
                    </tr>
                    <tr>
                        <th>Host:</th>
                        <td>{{ service.host.name }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="mt-3">
            <a href="{{ path('app_services') }}" class="btn btn-secondary">Back to Services</a>
        </div>
    </div>
</div>
{% endblock %}
